/*version: 0.0.4*/

/*---------RESPONSIVE STYLES------------*/
/* FOR TABLET - max-width: 1000px */
@media only screen and (max-width: 1000px) {

    /*---------RESPONSIVE STANDART STYLES------------*/
    img,
    iframe,
    video{
        max-width: 100%;
        height: auto;
        width: auto\9;
    }

    #overflow_div{
        min-width: inherit;
    }

    .content{
        padding: 0 2%;
        width: 96%;
    }

    .content > .overflower{
        width: 100%;
    }

    .content > .overflower.rightfloating{
        margin-left: 0;
    }

    .floatblock{
        padding: 4% 0 6% 0;
    }

    .floatblock.left{
        width: 22%;
        margin-right: 2%;
    }

    .floatblock.center-min{
        width: 76%;
    }

    .floatblock.center-middle{
        width: 76%;
    }

    .floatblock.center-full {
        width: 100%;
    }

    .floatblock.right{
        display: none!important;
    }

    .floatblock.padding-right{
        display: none!important;
    }

    .left .block {
        margin: 0 0 4% 0;
    }

    .right .block {
        margin: 0 0 4% 0;
    }

    .center-min .block, .center-middle .block, .center-full .block {
        margin-bottom: 4%;
    }

    .left h2, .left .h2 {
        margin: 0 0 2% 0;
    }

    .right h2, .right .h2 {
        margin: 0 0 2% 0;
    }

    .center-min > h1, .center-middle > h1, .center-full > h1 {
        margin: 0 0 2% 0;
    }
    /*---------/RESPONSIVE STANDART STYLES------------*/


    /*---------HEADER STYLES------------*/
    header .content{
        height: 157px;
    }

    header .logo{
        margin: 10px 0 0 0px;
    }

    header .logo .text{
        font-size: 22px;

    }

    header .contacts{
        margin: 10px 0 0 0px;
    }

    header .contacts .phone{
        font-size: 22px;
        text-align: center;
    }

    header .contacts .phone img{
        top: 4px;
    }

    header .contacts .phone:hover span:before{
        bottom: -3px;
    }
    /*---------/HEADER STYLES------------*/


    /*---------RESPONSIVE NEWS (ALL)------------*/
    .news .item{
        margin: 2% 0;
    }
    .news .item .float-container .img-container{
        margin: 0 2% 0 0 ;
    }

    .news .item .float-container{
        margin: 2% 0;
    }
    /*--------- /RESPONSIVE NEWS (ALL)------------*/


    /*---------RESPONSIVE CATALOG------------*/
    .catalog .catalog-container:after {
        word-spacing: 241px;
        padding-left: 241px;
    }

    .catalog .item {
        width: 243px;
    }

    .catalog .item .img-container {
        width: 243px;
        height: 135px;
    }

    .catalog .item .img-container img{
        max-width: 243px;
        max-height: 135px;
    }

    .catalog.one .item{
        width: 100%;
    }

    .catalog.one .item .img-container{
        width: 100%;
    }

    /*catalog.sections*/
    .catalog.sections .catalog-container:after {
        word-spacing: 241px;
        padding-left: 241px;
    }

    .catalog.sections .item {
        width: 243px;
    }

    .catalog.sections .item .img-container {
        width: 243px;
        height: 135px;
    }

    .catalog.sections .item .img-container img {
        max-width: 243px;
        max-height: 135px;
    }

    /*catalog.gallery*/
    .catalog.gallery .catalog-container:after {
        word-spacing: 241px;
        padding-left: 241px;
    }

    .catalog.gallery .item {
        width: 243px;
    }

    .catalog.gallery .item .img-container {
        width: 243px;
        height: 135px;
    }

    .catalog.gallery .item .img-container img {
        max-width: 243px;
        max-height: 135px;
    }
    /*---------/RESPONSIVE CATALOG------------*/


    /*---------RESPONSIVE TOVAR PAGE------------*/
    .tovar-container .tovar_slider{
        width: 100%;
    }

    .tovar-container .tovar_slider .synced_slider1{
        width: 100%;
    }

    .tovar-container .tovar_slider .synced_slider2{
        width: 92.4%;
        margin-left: 7.6%;
    }

    .synced_slider2 .owl-carousel .item{
        width: auto;
    }

    .synced_slider2 .owl-carousel .item .img-container{
        width: auto;
    }

    .synced_slider2 .owl-carousel .item .img-container img {
        max-width: 100%;
        height: auto;
    }

    .tovar-container .info{
        width: 100%;
        margin-top: 2%;
    }
    /*--------- /RESPONSIVE TOVAR PAGE------------*/


    /*---------RESPONSIVE PRICE------------*/
    .price-table{
        overflow: auto;
        display: block;
    }

    .price-table td.name{
        width: 58%;
        min-width: 420px;
        padding: 2% 1%;
    }

    .price-table td.name span{
        width: 82%;
    }

    .price-table td.name .button{
        width: 16%;
        box-sizing: border-box;
    }
    /*---------/RESPONSIVE PRICE------------*/


    /*---------RESPONSIVE FORM------------*/
    .window .item-form-element .title{
        width: 32%!important;
        padding-right: 2%;
        margin-bottom: 2%;
    }

    .window .item-form-element input{
        width: 64%!important;
        box-sizing: border-box;
    }

    .window .item-form-element textarea{
        width: 64%!important;
        box-sizing: border-box;
    }
    /*---------/RESPONSIVE FORM------------*/


    /*---------RESPONSIVE ВСПЛЫВАЮЩЕЕ ОКНО------------*/
    .window .window_body{
        padding: 4% 5%;
        width: 60%;
        margin: 0 15%;
        box-sizing: border-box;
    }

    .window .window_body .content{
        width: 100%;
        padding: 0;
    }
    /*---------RESPONSIVE ВСПЛЫВАЮЩЕЕ ОКНО------------*/


    /*---------RESPONSIVE FAQ------------*/
    .window .faq .item-form-element > span{
        width: 32%;
        padding-right: 2%;
    }

    .window .faq textarea{
        width: 64%!important;
        box-sizing: border-box;
    }

    .window .faq input[type='text']{
        width: 64%!important;
        box-sizing: border-box;
    }
    /*---------/RESPONSIVE FAQ------------*/


    /*--------- RESPONSIVE WIDGET-PHONE ------------*/
    .widget-phone-form .item-form-element input{
        width: 100%!important;
        box-sizing: border-box;
    }

    .widget-phone-form{
        width: 100%;
        padding: 0;
    }

    .widget-phone-popup{
        width: 100%;
        padding: 0;
    }

    .widget-phone-popup .item-form-element input{
        width: 100%!important;
    }
    /*--------- /RESPONSIVE WIDGET-PHONE ------------*/


    /*---------RESPONSIVE FOOTER------------*/
    footer{
        min-width: inherit;
    }
    /*---------/RESPONSIVE FOOTER------------*/


    /*---------RESPONSIVE INDEX PAGE------------*/
    .content-wraper.content-center > .content.index-block{
        padding: 20px 2% 20px 2%;
        width: 96%;
    }

    .spisok-uslug{
        float: none;
        margin: 0 auto;
    }

    .index-page .zakaz-block{
        float: none;
        margin: 10px auto 0px auto;
    }

    .index-page .block2 .left-part,
    .index-page .block2 .right-part{
        width: auto;
        float: none;
        margin-right: 0;
    }

    .index-page .block2 .right-part{
        text-align: center;
    }

    .index-page .block2 .right-part ul{
        float: left;
        text-align: left;
    }

    .index-page .heart1{
        display: none;
    }

    .index-page #vk_groups{
        float: right;
    }

    .index-page .heart2{
        display: inline-block;
    }

    .index_slider{
        min-height: inherit;
    }
    /*---------/RESPONSIVE INDEX PAGE------------*/


    /*---------/RESPONSIVE OTHER STYLES------------*/
    .sendmessage_form table.sendmessgae{
        width: 100%;
    }

    .sendmessage_form tr td.left{
        width: 30%;
    }

    .sendmessage_form tr td.right{
        width: 70%;
    }

    .sendmessage_form input[type=text], .sendmessage_form textarea{
        width: 100%;
        box-sizing: border-box;
    }

    .menu-top-container .content{
        width: 100%;
    }

    .menu-top{
        left: 0;
        padding: 0;
        width: 96%;
        padding: 0 2%;
    }

    .menu-top > ul > li > a{
        padding: 11px 10px;
    }

    .menu-top:before,
    .menu-top:after{
        border-top: 12px solid transparent;
        border-top: 12px solid transparent;
    }

    footer .copyright{
        display: none;
    }

    footer .counter{
        float: right;
        margin-left: 0;
    }

    .zakaz-block.contacts{
        float: none;
        margin: 0 auto 25px auto;
    }

    .content-wraper.content-center > .content.index-slider-container{
        width: 100%;
    }
    /*---------/RESPONSIVE OTHER STYLES------------*/
}
/* /FOR TABLET - max-width: 1000px */


/*  max-width: 880px */
@media only screen and (max-width: 880px) {

    .hardware-page .table-block{

    }

    .hardware-page .table-block .colomn{
        display: block;
        text-align: center;
    }

    .rays-container{
        margin-left: auto!important;
        margin-right: auto!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .rays-container.rays3{
        margin-top: 203px;
    }

    .rays-container.rays3 .rays-logo{
        left: 10px;
    }

    .rays-container.rays3 .rays{
        left: -120px;
    }

    .rays-container.rays5{
        margin-top: 240px;
    }

    .rays-container.rays5 .rays-logo{
        left: 0;
    }

    .rays-container.rays5 .rays{
        left: -109px;
    }

    .hardware-page .table-block .colomn p{
        width: auto;
    }
}
/* / max-width: 880px */


/*  max-width: 830px */
@media only screen and (max-width: 830px) {

    header .content{
        height: 62px;
        padding: 0 2%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    header .logo{
        display: none;
    }

    header .contacts{
        margin-top: 6px;
        padding: 8px 15px;
    }

    header .contacts .text{
        display: none;
    }

    header .contacts .phone{
        margin-top: 0;
        font-size: 18px;
    }

    header .contacts .phone .phone-img{
        top: 4px;
    }

    header .contacts .phone:hover span:before{
        bottom: -5px;
    }

    .menu-top {
        display: none;
    }

    .slicknav_menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
        padding: 0;
    }

    .slicknav_menu .slicknav_btn {
        float: left;
        font-size: 18px;
        margin-top: 12px;
        background: #6e2a30;
        margin-bottom: 13px;
    }

    .slicknav_menu .slicknav_nav {
        background: #e8ebec;
        padding: 10px 0;
        box-shadow: 0px 1px 2px 0px rgba(9, 9, 9, 0.45);
    }

    .slicknav_nav a{
        color: #3f3f3f;
    }

    .slicknav_nav a:hover{
        -webkit-border-radius: 0!important;
        -moz-border-radius:0!important;
        border-radius: 0!important;
    }

    .slicknav_nav ul{
        margin-left: 8px;
    }
    .slicknav_nav > ul{
        margin: 0;
    }

    .slicknav_nav li.selected > a,
    .slicknav_nav li:hover > a{
        background: #ccc;
        color: #222;
    }

    .sticky-wrapper{
        display: none;
    }

    .content-wraper.content-center{
        margin-top: 62px;
    }
}
/* / max-width: 830px */


/*  max-width: 780px */
@media only screen and (max-width: 780px) {
    footer .counter{
        display: none;
    }

    footer .phone{
        float: right;
        margin-left: 0;
    }

    .index_slider .item .link-container .title{
        font-size: 24px;
    }

    .index_slider .item .link-container .text{
        font-size: 18px;
    }

    .dj-page .table-block .colomn{
        display: block;
        font-size: 18px;
        text-align: center;
    }

    .dj-page .table-block .colomn img{
        margin: 0!important;
    }

    .dj-page .table-block .colomn p{
        width: auto;
        line-height: normal;
    }
}
/* / max-width: 780px */


/* FOR PHONE - max-width: 650px */
@media only screen and (max-width: 650px) {

    /*---------RESPONSIVE STANDART STYLES------------*/
    h1, .h1{
        font-size: 20px;
    }

    .floatblock.center-min{
        width: 100%;
    }

    .floatblock.center-middle{
        width: 100%;
    }

    .floatblock.left{
        float: none;
        width: 100%;
    }


    .floatblock.right{
        float: none;
        width: 100%;
    }

    img.price-heart,
    img.chick1,
    img.chick2{
        width: 25%;
    }
    /*---------/RESPONSIVE STANDART STYLES------------*/


    /*---------RESPONSIVE CATALOG------------*/
    .catalog .catalog-container {
        margin-bottom: 0;
    }

    .catalog .catalog-container:after{
        content: '';
        word-spacing: inherit;
        padding-left: 0;
    }

    .catalog .item{
        width: 100%;
        padding: 2%;
        margin-bottom: 4%;
        box-sizing: border-box;
    }

    .catalog .item .img-container{
        width: auto!important;
        height: auto!important;
        display: inline-block;
    }

    .catalog .item .img-container img{
        position: relative;
        display: block;
        width: 100%;
        max-width: 440px!important;
        max-height: 244px!important;
    }

    /*catalog.one*/
    .catalog.one .catalog-container:after {
        word-spacing: inherit;
        padding-left: 0;
    }

    .catalog.one .item{
        width: 100%;
    }

    /*catalog.sections*/
    .catalog.sections .catalog-container:after {
        word-spacing: inherit;
        padding-left: 0;
    }

    .catalog.sections .item {
        width: 100%;
    }

    /*catalog.gallery*/
    .catalog.gallery .catalog-container:after {
        word-spacing: inherit;
        padding-left: 0;
    }

    .catalog.gallery .item {
        width: 100%;
    }
    /*---------/RESPONSIVE CATALOG------------*/


    /*---------RESPONSIVE FORM------------*/
    .window .item-form-element .title{
        width: 100%;
        padding-right: 0;
    }
    .window .item-form-element input{
        width: 100%!important;
        padding-right: 0;
    }

    .window .item-form-element textarea{
        width: 100%!important;
    }
    /*---------/RESPONSIVE FORM------------*/


    /*---------RESPONSIVE ВСПЛЫВАЮЩЕЕ ОКНО------------*/
    .window .window_body{
        width: 90%;
        margin: 0 5%;
    }

    .window .window_body .content{
        width: 100%;
        padding: 0;
    }
    /*---------RESPONSIVE ВСПЛЫВАЮЩЕЕ ОКНО------------*/


    /*---------RESPONSIVE FAQ------------*/
    .window .faq .item-form-element > span{
        width: 100%!important;
        padding-right: 0;
        margin-bottom: 2%;
    }

    .window .faq textarea{
        width: 100%!important;
    }

    .window .faq input[type='text']{
        width: 100%!important;
    }
    /*---------/RESPONSIVE FAQ------------*/

    /*---------RESPONSIVE INDEX PAGE------------*/
    .spisok-uslug{
        width: auto;
    }

    .index-block ul.style1,
    .index-block ul.style1.two{
        float: none;
        margin: 0 0 0 15px;
        width: auto;
    }

    ul.style1.one li:nth-child(1){
        -webkit-animation-duration: 0.6s;
        animation-duration:  0.6s;
    }

    ul.style1.one li:nth-child(2){
        -webkit-animation-duration: 0.6s;
        animation-duration:  0.6s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    ul.style1.one li:nth-child(3){
        -webkit-animation-duration: 0.6s;
        animation-duration:  0.6s;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    ul.style1.one li:nth-child(4){
        -webkit-animation-duration: 0.6s;
        animation-duration:  0.6s;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    ul.style1.two li:nth-child(1){
        -webkit-animation-duration: 0.6s;
        animation-duration:  0.6s;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    ul.style1.two li:nth-child(2){
        -webkit-animation-duration: 0.6s;
        animation-duration:  0.6s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }

    ul.style1.two li:nth-child(3){
        -webkit-animation-duration: 0.6s;
        animation-duration:  0.6s;
        -webkit-animation-delay:1s;
        animation-delay: 1s;
    }

    ul.style1.two li:nth-child(4){
        -webkit-animation-duration: 0.6s;
        animation-duration:  0.6s;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
    }
    /*---------/RESPONSIVE INDEX PAGE------------*/


    /*---------RESPONSIVE OTHER STYLES------------*/
    .toTop{
        display: none!important;
    }

    .widget-phone{
        display: none!important;
    }

    .path{
        display: none;
    }

    .sendmessage_form tr td.left{
        width: 100%;
        display: block;
        padding-right: 0;
        padding-bottom: 0;
    }

    .sendmessage_form tr td.right{
        width: 100%;
        display: block;
    }

    .index-page .block2 .right-part ul{
        float: none;
    }

    .index-page #vk_groups{
        display: none;
    }

    footer .phone{
        display: none;
    }

    footer .socials{
        margin-top: 10px;
    }

    footer .copyright{
        display: block;
        margin-top: 15px;
    }

    footer{
        height: 50px;
        margin-top: -50px;
    }

    .hFooter{
        height: 50px;
    }

    .zakaz-block.contacts{
        width: auto;
        padding: 4%;
        float: none!important;
    }

    .zakaz-block.contacts .button{
        width: auto;
        font-size: 18px;
    }

    .index_slider .item .text-container {
        width: 90%;
        margin-left: -45%;
    }

    .index_slider .item .link-container{
        padding: 20px 10px 10px 10px;
    }

    .index_slider .item .link-container .title{
        font-size: 16px;
    }

    .index_slider .item .link-container .text{
        font-size: 14px;
        text-transform: none;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .index_slider .owl-theme .owl-controls .owl-buttons .owl-prev,
    .index_slider .owl-theme .owl-controls .owl-buttons .owl-next{
        display: none;
    }
    /*--------- /RESPONSIVE OTHER STYLES------------*/

}
/* /FOR PHONE - max-width: 650px */


/* FOR IPHONE - max-width: 350px */
@media only screen and (max-width: 350px) {

    .slicknav_menu .slicknav_btn{
        padding: 10px 13px 12px 5px;
    }

    .slicknav_menu .slicknav_menutxt{
        display: none;
    }
}
/* /FOR IPHONE - max-width: 350px */
/*---------RESPONSIVE STYLES------------*/